@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;

  /* RL After reach max-width, just add margin. */
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;

  /* RL Add flex. This might not be necessary.  Things stack vertically in a column anyway? */
  display: flex;
  flex-direction: column;

}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-sp
  acing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;

  /* RL Do NOT hard-code nav height. */
  /* RL height: 80px; */

  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;

  /* RL Add padding above and below the nav h1 elements, such as the title RESTAURANT REVIEWS. */
  padding: 20px 15px;

}
nav h1 a {
  color: #fff;
  /* RL Adjust Font Size. */
  /* RL font-size: 14pt; */
  font-size: 20px;

  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* RL Breadcrumb allows us path back to Home screen from the Details page. */
#breadcrumb {

    /* RL Adjust padding. */
    padding: 10px 40px 16px;
    /* RL padding: 1px 1px 1px; */

    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;

    /* RL Set breadcrumb width same as restaurant-container. */
    /* RL width: calc(50% - 80px); */
    /* RL width: 40%; */
    /* RL Set breadcrumb max-width but not width. */
    max-width: 100%


}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  /* RL Change height from absolute to relative. */
  /* RL height: 400px; */
  height: 50%;
  /* RL Need min-height or else no map will show up. */
  min-height: 200px;

  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;

  /* RL Do NOT fix the height.  Allow height to adjust. */
  /* RL height: 50px; */

  background-color: #3397DB;
  align-items: center;

  /* RL Add padding. */
  padding: 1px 0;

    /* RL Add flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 2px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;

  /* RL Adjust font-size of Neighborhoods & Cuisines Selections. */
  /*RL font-size: 11pt; */
  font-size: 15px;

  height: 35px;
  letter-spacing: 0;
  margin: 1
  0px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #EE82EE;
  list-style: outside none none;
  margin: 0
  ;
  padding: 1px 0px 1px;
  text-align: center;

  /* RL Add flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
#restaurants-list li {
  background-color: #fff;
  border: 1px 1px 1px solid #008000;
  font-family: Arial,sans-serif;
  margin: 1px 0px 1px;
  min-height: 380px;

  /* RL Adjust padding. */
  /* RL If the padding property has three values:  (top, right/left, bottom) */
  /* RL padding: 0 30px 25px; */
  padding: 1px 1px 1px;

  text-align: center;

  /* RL Instead of setting width, set min-width and max-width. */
  /* RL width: 270px; */

  /* RL min-width: 270px;
  max-width: 300px;
  */

}

@media only screen and (min-width: 0px) and (max-width: 699px) {
  #restaurants-list li {
    max-width: 100%
  }
}
@media only screen and (min-width: 700px) and (max-width: 1099px) {
  #restaurants-list li {
    max-width: 49.5%
  }
}
@media only screen and (min-width: 1100px) {
  #restaurants-list li {
    max-width: 32.8%;
  }
}


#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;

  /* RL min-height causes the image to be tall and narrow. */
  /* RL min-height: 248px; */
  min-width: 100%;

  /* RL overflow hidden. If content overflows box, hide the part that overflows (i.e. clip it) */
  overflow: hidden;
}

/* RL Doug Brown defined restaurant-text-area. Add css to specify format of restaurant-text-area */
#restaurants-list .restaurant-text-area {
  padding: 0 25px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;

  /* RL Need margin for left/right. */
  /* RL margin: 20px 0 10px; */
  margin: 20px 10px 10px;

  text-transform: uppercase;
}
#restaurants-list p {
  /* RL Add some margin. */
  /* RL margin: 0; */
  margin: 10px;
  font-size: 11pt;
}




#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 1
  5px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

/* RL Doug Brown said get rid of the entire .inside header CSS.
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
*/

.inside #map-container {
  background: blue none repeat scroll 0 0;

  /* RL Map container height fix at just right height so human can read. */
  /* RL height: 87%; */
  height: 400px;

  /* RL Get rid of the stuff below that fixed map at right of screen.
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%; */

}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0
   0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-to
  p: 1px solid #fff;

  /* RL Too much padding. */
  /* RL padding: 140px 40px 30px; */
  padding: 1px 1px 1px;

  /* RL Let width be 100%. */
  /* RL width: 50%; */

  /* RL Limit max-height to 300px. This cut off the bottom of the image. */
  /* RL max-height: 300px; */

}
#reviews-co
ntainer {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-sp
  acing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0
  ;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow:
   hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}


/* RL Skip link starts off-screen -40px and only gets on-screen 0px after it gains focus. */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
}